* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* FONTSZIE */
  --fontSize14px: 14px;
  --fontSize16px: 16px;
  --fontSize20px: 20px;

  /* COLOR */
  --color--blu: rgb(1, 148, 243);
  --color-grey: rgb(104, 113, 118);
  --color-darkBlue: #0f599b;
  --color-orange: rgb(255, 94, 31);
  --color-green: rgb(11, 193, 117);
  --color-warn: rgb(217, 152, 0);

  /* FONTWEIGHT */
  --fontWeightBold: bold;

  /* MARGIN */
  --margin16px: 16px;
  --margin4px: 4px;
  --margin40px: 40px;
  --margin10px: 10px;
  --margin12px: 12px;

  /* WITH HEIGHT */
  --heght52px: 52px;

  /* PADDING */
  --Padding24px: 24px;
  --Padding16px: 16px;
  --Padding12px: 12px;
  --Padding8px: 8px;

  /* BACKGROUND COLOR */
  --backgroundColorWhite: rgb(255, 255, 255);
  --backgroundColorGreen: rgb(11, 193, 117);
  --backgroundColorBlu: #bad6ef;
  --backgroundWarn: rgb(255, 250, 217);
}

.box-infor {
  margin-top: var(--margin40px);
  h2 {
    font-size: var(--fontSize20px);
    font-weight: var(--fontWeightBold);
  }
  .infor {
    background-color: var(--backgroundColorWhite);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: var(--Padding16px) 0;
    .infor-contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      margin: 0 var(--margin16px);
      height: 52px;
      .user-name {
        h4 {
          margin-left: var(--margin16px);
          position: relative;
          font-size: var(--fontSize20px);
          font-weight: var(--fontWeightBold);
        }
      }
      .btn-edit_detail {
        input {
          color: var(--color--blu);
          border: none;
          font-size: var(--fontSize16px);
          background-color: transparent;
          font-weight: var(--fontWeightBold);
        }
        input:hover {
          color: var(--color-darkBlue);
        }
      }
    }
    .user-contact {
      display: flex;
      justify-content: space-between;
      .user-infor {
        font-weight: var(--fontWeightBold);
        padding: var(--Padding24px) var(--Padding16px);
        p {
          font-size: var(--fontSize16px);
          font-weight: var(--fontWeightBold);
        }
        .lable-name {
          font-size: var(--fontSize16px);
          color: var(--color-grey);
          margin-bottom: var(--margin4px);
        }
        .lable-name-right {
          font-size: var(--fontSize12px);
        }
        .price {
          color: var(--color-orange);
          font-size: var(--fontSize16px);
        }
      }
    }
  }
}
